<script src="/js/inspo"></script>

<div class='container'>
    <h1>Weardrobe DB </h1>
</div>

<div id="images">

</div>

<!-- Grid row -->
    <div class="gallery" id="gallery">
    <!-- Grid column -->
    <div class="mb-3 pics animation all 2">
        <img class="img-fluid" src="">
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="mb-3 pics animation all 1">
        <img class="img-fluid" src="{{pictures.url}}">
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="mb-3 pics animation all 1">
        <img class="img-fluid" src="" alt="Card image cap">
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="mb-3 pics animation all 2">
        <img class="img-fluid" src="" alt="Card image cap">
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="mb-3 pics animation all 2">
        <img class="img-fluid" src="" alt="Card image cap">
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="mb-3 pics animation all 1">
        <img class="img-fluid" src="" alt="Card image cap">
    </div>
    <!-- Grid column -->
    
</div>
<!-- Grid row -->