<script src="/js/inspo.js"></script>

<div>

<div class="container containerInspo">
    {{!-- <div id="images"> --}}
        
        <div class="gallery" id="gallery">
        
          
            <div class="mb-3 pics animation all 2" id="images">
           
            </div>
           
            <div class="mb-3 pics animation all 1" id="images">
                
            </div>
            
            <div class="mb-3 pics animation all 1" id="images">
                
            </div>
            
            <div class="mb-3 pics animation all 2" id="images">
               
            </div>
            
            <div class="mb-3 pics animation all 2" id="images">
                
            </div>
            
            <div class="mb-3 pics animation all 1" id="images">
                
            </div>
           
        
        </div>
{{!-- </div> --}}


</div>
</div>
