<div class="container justify-content-center">
  <button type="button" class="btn btn-outline-info" id="generateOutfitBtn">What Do I Wear Today?</button>
  <div class="row border border-info">
    <div class="col-lg">Top</div>
    <div id="topOutfit"></div>
  </div>
  <div class="row border border-info">
    <div class="col-lg">Bottom</div>
    <div id="bottomOutfit"></div>
  </div>
  <div class="row border border-info">
    <div class="col-lg">Accessories</div>  
    <div id="accessoryOutfit"></div>    
  </div>
</div>

<button type="button" class="btn btn-outline-info justify-content-center" id="nextOutfitBtn">Next</button>
<button type="button" class="btn btn-outline-info justify-content-center" id="saveOutfitBtn">Save</button>

<script src="/js/outfit.js"></script>