<div class="container justify-content-end">
  <button type="button" class="btn btn-outline-info" id="generateOutfitBtn">What Do I Wear Today?</button>
  <div class="row border border-info">
    <div class="col-lg">Top</div>
  </div>
  <div class="row border border-info">
    <div class="col-lg">Bottom</div>
  </div>
  <div class="row border border-info">
    <div class="col-lg">Accessories</div>      
  </div>
</div>

<button type="button" class="btn btn-outline-info" id="nextOutfitBtn">Next</button>
<button type="button" class="btn btn-outline-info" id="saveOutfitBtn">Save</button>

<script src="/js/outfit.js"></script>