<div class="container"><h1 class="text-center text-dark pt-3" >Welcome To Your closetDB WearTistics!</h1></div>

<div class="row">
    <div class="card col-md-5 my-3 bg-light mx-auto">
        <div class="card-body pb-0">
            <h5 class="text-center">Top Five Most Worn Articles Of Clothing</h5>
            <hr>
        </div>
        <div class="card-body mt-1">
            <canvas id='topFive' width='200' height='200'></canvas>
        </div>
    </div>

    <div class="card col-md-5 my-3 bg-light mx-auto">
        <div class="card-body pb-0">
            <h5 class="text-center">Seasonality Breakdown</h5>
            <hr>
        </div>
        <div class="card-body">
            <canvas id='seasonality' width='200' height='200'></canvas>
        </div>
    </div>
</div>

<div class="row">
    <div class="card col-md-5 my-3 bg-light mx-auto">
        <div class="card-body pb-0">
            <h5 class="text-center">Style Breakdown</h5>
            <hr>
        </div>
        <div class="card-body">
            <canvas id='style' width='200' height='200'></canvas>
        </div>
    </div>

    <div class="card col-md-5 my-3 bg-light mx-auto">
        <div class="card-body pb-0">
            <h5 class="text-center">Top Five Least Worn Articles Of Clothing</h5>
            <hr>
        </div>
        <div class="card-body">
            <canvas id='leastWorn' width='200' height='200'></canvas>
        </div>
    </div>
</div>

<script src="/js/statistics.js"></script>