<h1>Welcome To Your WearTistics!</h1>


<h2>Top Five Most Worn Articles Of Clothing</h2>
<canvas id = 'topFive' width = '200' height = '200'></canvas>
<h2>Seasonality Breakdown</h2>
<canvas id = 'seasonality' width = '200' height = '200'></canvas>
<h2>Style Breakdown</h2>
<canvas id = 'style' width = '200' height = '200'></canvas>
<h2>Top Five Least Worn Articles Of Clothing</h2>
<canvas id = 'leastWorn' width = '200' height = '200'></canvas>


